<form action="/Employees/Create" method="post" class="form-container">
    <input type="text" name="FirstName" placeholder="First name" />
    <input type="text" name="LastName" placeholder="Last name" />
    <input type="text" name="Birthday" placeholder="Birthday" />
    <input type="text" name="Email" placeholder="Email" />
    <input type="text" name="Address" placeholder="Address" />
    <input type="number" name="PostalCode" placeholder="Postal code" />
    <input type="number" name="PhoneNumber" placeholder="Phone number" />
    <button class="custom-btn">Save</button>
</form>

